<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>

<h1> Edit Restaurant </h1>

<form action="{{ url_for('editRestaurant',restaurant_id = restaurant_id)}}" method = 'post'>

<dl>
	<dt>Name:</dt>
		<dd><input type ='text' size='30' name='name' placeholder = '{{r.name }}'></dd>
	<dt>Description:</dt>
		<dd><textarea name = 'description' rows='5' cols='40' placeholder = '{{r.description }}'></textarea></dd>
	<dt>Price Range:</dt>
		<dd><input type = 'text' size = '8' name='priceRange' placeholder = '{{r.priceRange}}'></dd>
	<dt>cuisine:</dt>

	{% if r.cuisine == 'American' %}
		<dd><input type ='radio' name='cuisine' value='American'checked >American</dd>
	{%else%}
	<dd><input type ='radio' name='cuisine' value='American' >American</dd>
    {% endif %}

    {% if r.cuisine == 'Italian' %}
       <dd><input type ='radio' name='cuisine' value='Italian' checked>Italian</dd>

    {%else%}
		<dd><input type ='radio' name='cuisine' value='Italian'>Italian</dd>
    {% endif %}

	{% if r.cuisine == 'French'%}
		<dd><input type ='radio' name='cuisine' value='French'checked >French</dd>

	{% else %}
	   <dd><input type ='radio' name='cuisine' value='French'>French</dd>

	{% endif %}


	{%if r.cuisine =='Asian'%}
		<dd><input type ='radio' name='cuisine' value='Asian'checked >Asian</dd>
	{% else %}
		<dd><input type ='radio' name='cuisine' value='Asian'>Asian</dd>
	{% endif %}





</dl>


<input type='submit' value='Edit'>

<a href = '{{url_for('showRestaurants')}}'> Cancel </a>
</form>
</body>
</html>
