<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<body>

<h1>New Restaurant</h1>

<div class = 'pane'>
<form action="{{ url_for('newRestaurant')}}" method = 'post'>

<dl>
	<dt>Name:</dt>
		<dd><input type ='text' size='30' name='name'></dd>
	<dt>Description:</dt>
		<dd><textarea name = 'description' rows='5' cols='40' > </textarea></dd>
	<dt>Price Range:</dt>
		<dd><input type = 'text' size = '8' name='priceRange'></dd>
	<dt>Cuisine:</dt>
		<dd><input type ='radio' name='cuisine' value='American' checked='true'>American</dd>
		<dd><input type ='radio' name='cuisine' value='Italian'>Italian</dd>
		<dd><input type ='radio' name='cuisine' value='French'>French</dd>
		<dd><input type ='radio' name='cuisine' value='Asian'>Asian</dd>




</dl>


<input type='submit' value='Create'>

</form>
</div>

</body>




</html>
